/* Partie responsive du site ----------------------------------------------------*/
/*------1184px------------------------------------------------------------------------*/

@media (max-width: 1184px) {
  /*pour décaler de 20px le contenu pour aerer le cote gauche de l'image*/
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* header {
      background-color: lightgreen;
    } */

  /*partie menu haut du site qui se réduit */
  .container1 ul {
    padding-top: 40px;
    /* background-color: bisque; */
    display: flex;
    /*positionne les items sur plusieurs lignes*/
    flex-wrap: wrap;
    /* largeur doit suivre la lrgeur de l'écran*/
    width: 100vw;
    gap: 10px;
  }

  .container1 a {
    display: flex;
    border: #190f33 1px solid;
    /* background-color: lavender; */
    border-radius: 10px;
    /*gère la largeur des items*/
    width: 20vw;
    /*gère la hauteur des items*/
    height: 50%;
    /*pour aligner les items des menus en les décalant de 16px */
    padding-top: 16px;
    text-decoration: none;
    color: #190f33;
  }
  /* il restera à laisser les items sur 2 lignes et non trois
    nav .container1 {
      width: 25%;
    }
    */

  /*---------------*/
  /*partie photo Paris 1 reduit sa taille, pas les autres*/

  .menu {
    display: flex;
    /* background-color: #fe5d5d; */
    padding-top: 40px;
    height: 370px;
    gap: 2px;
    width: 100vw;

    /* background-color: grey; */
  }
  .pictures {
    width: 60%;
  }

  .paris1 {
    width: 100%;
    height: 370px;
    object-fit: cover;
  }

  .paris23 {
    width: 400px;
    /* background-color: green; */
  }
  .paris2 {
    width: 100%;
    height: 49%;
    object-fit: cover;
    padding-left: 2px;
  }
  .paris3 {
    width: 100%;
    height: 50%;
    object-fit: cover;
    padding-left: 2px;
  }
}
/*---------------------------------------*/
/*partie qui va masquer les items du menu du haut si on passe au dessus de 1184px*/
@media (min-width: 1184px) {
  .container1 .hide {
    display: none;
  }
}

/*------1024px------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

@media (max-width: 1024px) {
  header nav a span {
    display: none;
  }

  header {
    display: flex;
    width: 98vw; /* façon bricolage mais le rendu correspond à peu près au résultat*/
  }

  /*---------------*/
  /*partie qui cache la map avec le bc rose en dessous des trois photos*/

  /*ok ca marche la map disparait mais le reste se postionne au milieu*/
  .col2 {
    display: none;
  }
  .container3 {
    display: inline;
    background-color: lightblue;
  }
  .col1 {
    /* background-color: pink; */
    padding: 40px 0 0 0;
  }
  .col2 {
    background-color: #fff;
  }
}

/*------768px------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

/*header icones sur les cotes et logo au milieu*/
header {
  display: flex;
}

/* pour cacher les deux icones en grands ecrans et les mettre en dessous de 768px*/
@media (min-width: 768px) {
  .container .icon {
    display: none;
  }
}

/*cacher le bouton*/
@media (max-width: 768px) {
  header > .container > nav > button {
    display: none;
  }
  /*diminuer la taille du logo*/
  header img {
    width: 120px;
  }

  /*le menu en haut passe en carroussel sur une seule ligne*/
  /*Partie du menu à 8 item qu'il faut mettre en scroll*/
  .container1 ul {
    display: flex;
    /* background-color: pink; */
    padding-top: 40px;
    flex-direction: column;
    height: 60px;
    gap: 10px;
    overflow-x: scroll;
  }

  /* pour masquer la scrollbar sans enlever sa fonctionnalité*/
  .container1 ul::-webkit-scrollbar {
    display: none;
  }

  .container1 a {
    display: flex;
    border: #190f33 1px solid;
    /* background-color: red; */
    border-radius: 10px;
    width: auto;
    height: 10px;
    /*pour aligner les items des menus en les décalant de 16px */
    padding: 15px;
    text-decoration: none;
    color: #190f33;
  }

  .container1 a i {
    padding-left: 20px;
  }

  /*expolrez Paris police plus petite*/

  h1 {
    font-size: 34px;
    font-weight: bold;
  }

  /*pour que le p revienne à la ligne quand l'ecran se rapetisse*/
  .container1 p {
    width: 100vw;
  }

  /* les polices d'écriture diminuent*/

  /* la partie carroussel est modifiée: chaque partie passe sur 2 lignes au lieu de colones
  ne subsiste qu'une photo en grand avec toujours le système de carroussel*/
}
